<html>

    <head>
        <title>Fun City Mall | Malls | Dynapix</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <style>
            .wrap {
    position: relative;
    overflow: hidden;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95); /* Darker black overlay */
    z-index: 9999;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.popup-content {
    background: linear-gradient(145deg, #222, #333); /* Gradient dark background */
    border: 1px solid #444;
    padding: 25px;
    width: 40%; /* Adjusted for a sleek look */
    max-width: 500px;
    max-height: 80%; /* Height adjustment */
    border-radius: 15px; /* Rounded corners */
    overflow-y: auto;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Smooth shadow effect */
    color: #fff; /* White text for contrast */
    animation: fadeIn 0.3s ease-in-out; /* Smooth entry animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #f2f2f2; /* Slightly lighter close button */
    background: #444;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s;
}

.close-btn:hover {
    background: #555;
    color: #fff;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Image shadow */
}

.popup-content h2.title {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #f9f9f9; /* Brighter text for titles */
    border-bottom: 1px solid #555; /* Underline effect */
    padding-bottom: 8px;
}

.popup-content .stats {
    font-size: 14px;
    line-height: 1.8;
    color: #ccc; /* Softer white for content */
}

.popup-content .stats .wrap {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.popup-content .stats .wrap span {
    font-weight: bold;
    color: #f2f2f2; /* Emphasize spans */
}


.edit-button {
    top: 10px; /* Adjust the spacing from the top */
    right: 10px; /* Adjust the spacing from the right */
    z-index: 10; /* Ensure the button is above other elements */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* White text and icon */
    border: none; /* No border */
    padding: 5px 10px; /* Adjust padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Smaller font size */
    cursor: pointer; /* Pointer cursor */
}

.edit-button i {
    margin-right: 5px; /* Space between icon and text */
}

.edit-button:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background on hover */
}

        </style>
    </head>
    
    <body class="dark">
       
       <header>
           <div class="container">
               <div class="row">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-5 col-lg-2">
                               <a href="index.html" class="logo"><img src="../../images/dynapix-logo-dark.png"></a>
                           </div>
                           <div class="col-7 col-lg-10">
                               <ul class="main-menu d-none d-lg-flex">
                                   <li><a href="index.html" class="menuitem">Home</a></li>
                                   <li><a href="about.html" class="menuitem">About Us</a></li>
                                   <li><a href="/media.html" class="menuitem">Media</a></li>
                                   <li><a href="careers.html" class="menuitem">Careers</a></li>
                                   <li><a href="contact.html" class="menuitem">Contact Us</a></li>
                                   <li><a class="menuitem">Brand Stories</a></li>
                                   <span class="btn rg-btn"><i class="fas fa-phone"></i> Call Now</span>
                               </ul>
                               <div class="d-lg-none mobmenu">
                                   <span class="menuicon" data-bs-toggle="modal" data-bs-target="#mobilemenu"><i class="fas fa-bars"></i></span>
                                   <span class="btn rg-btn"><i class="fas fa-phone"></i> Call Now</span>
                               </div>
                           </div>
                      </div>
                  </div>
                   
               </div>
           </div>
       </header>

       <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <div id="popup-body"></div>
        </div>
    </div>
        
        
        <section class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="index.html">Home</a> > <a href="malls.html">Malls</a> > <%= mall.md_name %> Mall
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content w-50" style="background-color: #333; color: #fff;">
                <div class="modal-header">
                  <h5 class="modal-title" id="mediaModalLabel">Edit Media Information</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="lobbyMediaForm">
                    <div class="mb-3">
                      <label for="mediaName" class="form-label">Name</label>
                      <input type="text" class="form-control" id="mediaName" name="mediaName" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="mediaImage" class="form-label">Image</label>
                      <input type="file" class="form-control" id="mediaImage" name="mediaImage" accept="image/*">
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        <label for="mediaType" class="form-label">Type</label>
                        <input type="text" class="form-control" id="mediaType" name="mediaType" value="" readonly>
                        </div>
                        <div class="col-md-6 mb-3">
                        <label for="mediaSize" class="form-label">Size</label>
                        <input type="text" class="form-control" id="mediaSize" name="mediaSize" value="" required>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="mediaScreens" class="form-label">No. of Screens</label>
                        <input type="number" class="form-control" id="mediaScreens" name="mediaScreens" value="" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="mediaSlots" class="form-label">No. of Slots</label>
                        <input type="number" class="form-control" id="mediaSlots" name="mediaSlots" value="" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <label for="mediaDuration" class="form-label">Duration</label>
                        <input type="text" class="form-control" id="mediaDuration" name="mediaDuration" value="" required>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="mediaLoopTime" class="form-label">Loop Time</label>
                        <input type="text" class="form-control" id="mediaLoopTime" name="mediaLoopTime" value="" required>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="mediaFootfalls" class="form-label">Approx Footfalls</label>
                        <input type="text" class="form-control" id="mediaFootfalls" name="mediaFootfalls" value="" required>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" form="lobbyMediaForm" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        
        
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="selectbar">
                            <h1 class="title"><span class="headingbg"><%= mall.md_name %> Mall</span></h1>
                        </div>
                        <div class="logobar">
                            <div class="logo"><img src="../<%= mall.md_image %>"></div>
                            <div class="content">
                                <h3 class="title">About <%= mall.md_name %> Mall</h3>
                                <p><%= mall.md_description %></p>
                            </div>
                        </div>
                        <h3 class="subtitle headingbg">Key Insights</h3>
                        <div class="statist">
                            <div class="wrap">
                                <div class="title">Approx Footfalls</div>
                                <div class="content"><%= mall.md_footfalls %></div>
                            </div>
                            <div class="wrap">
                                <div class="title">Duration</div>
                                <div class="content"><%= mall.md_duration %> Sec</div>
                            </div>
                            <div class="wrap">
                                <div class="title">No. of Screens</div>
                                <div class="content"><%= mall.md_num_screens %></div>
                            </div>
                            <% if (mall.md_location_type!='Fuel Station'){ %>
                            <div class="wrap">
                                <div class="title">No. Of Slots</div>
                                <div class="content"><%= mall.md_num_slots %></div>
                            </div>                            
                            <% } %>
                            <% if (mall.md_location_type=='Fuel Station'){ %>
                            <div class="wrap">
                                <div class="title">Type</div>
                                <div class="content">Digital</div>
                            </div>
                            <div class="wrap">
                                <div class="title">Size</div>
                                <div class="content"><%= mall.md_size %></div>
                            </div>
                            <div class="wrap">
                                <div class="title">Loop Time</div>
                                <div class="content"><%= mall.md_looptime %> Sec</div>
                            </div>
                            <% } %>
                        </div>
                        
                        <div class="mediawrap">
                           <h3 class="subtitle d-flex align-items-center justify-content-between"><span class="headingbg">Screen Location</span><span> 
                            <% if(isLoggedin){ %>
                             
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mediaModal">Add Media Location</button>
                            <% } %>
                           </span></h3>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-1.jpeg">
                                <div class="content">
                                    <h2 class="title">Lobby</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 35ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-2.jpeg">
                                <div class="content">
                                    <h2 class="title">Lift Entry & Exit</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 15ft x 3ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-3.jpeg">
                                <div class="content">
                                    <h2 class="title">Escalator - 1</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 3ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-3.jpeg">
                                <div class="content">
                                    <h2 class="title">Escalator - 2</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 3ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-3.jpeg">
                                <div class="content">
                                    <h2 class="title">Escalator - 3</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 3ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-3.jpeg">
                                <div class="content">
                                    <h2 class="title">Escalator - 4</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 3ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-3.jpeg">
                                <div class="content">
                                    <h2 class="title">Escalator - 5</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 3ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <img src="../images/inventory/inv-fcm-3.jpeg">
                                <div class="content">
                                    <h2 class="title">Escalator - 6</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 3ft x 5ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap position-relative">
                                <!-- Edit Button Overlay -->
                                <!-- <button class="edit-button btn btn-primary btn-sm position-absolute">
                                    <i class="fas fa-edit"></i> Edit
                                </button> -->
                            
                                <img src="../images/inventory/inv-fcm-4.jpeg" alt="Mall Image">
                                <div class="content">
                                    <h2 class="title">Mall outside big</h2>
                                    <div class="stats full">
                                        <div class="wrap">Type: Digital</div>
                                        <div class="wrap">Size: 30ft x 20ft</div>
                                        <div class="wrap">No. of Screens: 1</div>
                                        <div class="wrap">No. of Slots: 240</div>
                                        <div class="wrap">Duration: 10sec</div>
                                        <div class="wrap">Loop Time: 3min</div>
                                        <div class="wrap">Approx Footfalls: <span>3-3.5 Lacs</span></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <footer>
            <div class="container">
                <div class="row">
                   <div class="col-12">
                       <div class="row">
                           <div class="col-12 col-lg-4">
                                <img src="../../images/logo-white.png" class="logo">
                                <p>Dynapix provides digital advertising solutions to businesses. We use the latest technology to deliver dynamic, engaging content to consumers on-the-go.</p>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="title">Quick Links</div>
                                <div class="footlinks">
                                    <a href="index.html">Home</a>
                                    <a href="about.html">About Us</a>
                                    <a href="media.html">Media</a>
                                    <a href="careers.html">Careers</a>
                                    <a href="contact.html">Contact Us</a>
                                    <a>Brand Stories</a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="title">Policies</div>
                                <div class="footlinks">
                                    <a>Privacy Policy</a>
                                    <a>Terms & Conditions</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="title">Get in Touch</div>
                                <div class="addrwrap mb-3">
                                    <span>
                                        <strong class="d-block mb-1">Dynapix Advertising</strong>
                                        1st Floor, Modern Profound Tech Park, Sy. No. 12, Whitefield Road, Kondapur, Telangana - 500084
                                   </span>
                                </div>
                                <div class="addrwrap">
                                    <i class="fas fa-phone"></i>
                                    <span>+434 43242232</span>
                                </div>
                                <div class="addrwrap">
                                    <i class="fas fa-envelope"></i>
                                    <span>info@dynapix.com</span>
                                </div>
                            </div>
                            <div class="col-12 text-center">Copyright &copy;2024 Dynapix. <span class="d-inline-block">All Rights Reserved.</span></div>
                       </div>
                   </div>
                </div>
            </div>
        </footer>
        
        <div class="modal" id="mobilemenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="termsLabel">
           <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                     <div class="mobmainmenu">
                         <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="btnclose"><i class="fas fa-times"></i></button>
                         <ul class="mobmenulist">
                           <li><a href="index.html" class="menuiitem">Home</a></li>
                           <li><a href="about.html" class="menuiitem">About Us</a></li>
                           <li><a href="media.html" class="menuiitem">Media</a></li>
                           <li><a href="careers.html" class="menuiitem">Careers</a></li>
                           <li><a href="contact.html" class="menuiitem">Contact Us</a></li>
                           <li><a class="menuiitem">Brand Stories</a></li>
                         </ul>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        
        <script>
        
             $(document).on("click",".menuiitem", function(){
                $("#btnclose").trigger("click");
            })

            // // Get the current URL
            // const currentUrl = window.location.href;

            // // Extract the number from the URL using a regular expression
            // const match = currentUrl.match(/\/(\d+)$/);

            // // Extracted number or null if not found
            // const extractedNumber = match ? parseInt(match[1], 10) : null;

            document.getElementById('lobbyMediaForm').addEventListener('submit', async function (e) {
                e.preventDefault();

                const formData = new FormData(this);
                const urlSegments = window.location.pathname.split('/');
                const mdId = urlSegments[urlSegments.length - 1]; // Extract last ID from URL

                try {
                    const response = await fetch(`/add-lobby-media/${mdId}`, {
                    method: 'POST',
                    body: formData,
                    });

                    if (response.ok) {
                    alert('Lobby media added successfully!');
                    location.reload();
                    } else {
                    const errorData = await response.json();
                    alert(`Error: ${errorData.message}`);
                    }
                } catch (error) {
                    alert(`Error: ${error.message}`);
                }
                });

                document.addEventListener("DOMContentLoaded", () => {
    const wraps = document.querySelectorAll(".wrap");
    const popup = document.getElementById("popup");
    const popupBody = document.getElementById("popup-body");
    const closeBtn = document.querySelector(".close-btn");

    wraps.forEach((wrap) => {
        wrap.addEventListener("click", () => {
            const imageSrc = wrap.querySelector("img").getAttribute("src");
            const contentHTML = wrap.querySelector(".content").innerHTML;

            // Set popup content
            popupBody.innerHTML = `
                <img src="${imageSrc}" alt="Popup Image">
                ${contentHTML}
            `;

            // Show popup
            popup.style.display = "flex";
        });
    });

    // Close popup
    closeBtn.addEventListener("click", () => {
        popup.style.display = "none";
    });

    // Close popup when clicking outside the content
    popup.addEventListener("click", (e) => {
        if (e.target === popup) {
            popup.style.display = "none";
        }
    });
});


        </script>
        
    </body>

</html>